button {
    font-size: 20px;
    width: 120px;
    height: 60px;
    color: white;
    background-color: green;
}

.reset {
    font-size: 20px;
    width: 240px;
    height: 60px;
    color: white;
    background-color: red;
    margin-top: 1%;
}

span {
    font-size: 20px;
    margin-top: 5%;
    padding: 1% 7% 1% 7%;
}

.count {
    font-size: 50px;
    padding: 15px 30px;
}

body {
    padding: 15px 30px;
}