button{
    font-size: 20px;
    padding: 1% 7% 1% 7%;
    color: white;
    background-color: green;
    margin-top: 5%;
}

span{
    font-size: 20px;
    margin-top: 5%;
    padding: 1% 7% 1% 7%;
}

.count{
    font-size: 50px;
    padding: 15px 30px;
}